.app-container {
  height: 100svh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font-size: 35px;
}

.loading i{
  animation: spin 3s linear infinite;
  opacity: 0.4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:830px){
  
}
